.breadcrumbList {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.breadcrumbItem {
  margin-right: 5px;
  font-size: 14px;
}

.breadcrumbItem a {
    text-decoration: none;
    color: rgb(var(--accent-rgb));
}

.breadcrumbItem a:hover {
    text-decoration: underline;
}