.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  color: #fff;
}

.container {
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
}

.footerLink {
  color: #fff;
  margin: 0 1rem;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.copyright {
  text-align: center;
}