.footer {
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  color: #fff;
  margin-top: 1rem;
}

.footerContainer {
  max-width: var(--max-width);
  display: flex;
  justify-content: center;
  align-items: center;
}