.container {
  background: rgb(var(--background-end-rgb));
  padding: var(--container-padding-vertical) var(--container-padding-horizontal);
  width: 100%;
  max-width: var(--max-width);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.section {
  margin-bottom: 2rem;
}

.inputName {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.inputEmail {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.inputTextarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.inputButton {
  background-color: rgb(var(--accent-rgb));
  border: none;
  color: white;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25rem;
}